:root {
    --main-backgroud: #f8f8f8;
    --gradient-background: linear-gradient(45deg, #f6a21e 60%, #e55b13);
    --gray-color: gray;
    --radius: 10px;
    --padding: 0.7rem;
    --fill: #a0a0a0;
    --yellow-color: #f6a21e;
    --orange-color: #e55b13;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: #eeeeee;
    background-repeat: no-repeat;
    height: fit-content;
    position: relative;
    z-index: -1;

}
body.noneScroll{
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* satrt styling main page  */
.control-top span,
.control-bottom span {
    display: block;
    width: 20px;
}

.control-top {
    top: 0;
    box-shadow: 0px 0px 5px -2px black;
}

.control-bottom span {
    width: 25px;
    position: relative;
    top: 5px;
}

.control-bottom span.line svg {
    fill: var(--yellow-color);
}

.control-top,
.control-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    background: var(--gradient-background);
    position: fixed;
    width: 96%;
    margin: 2%;
    border-radius: 10px;
}

.control-bottom {
    bottom: 0;
    border-radius: 20px 0;
    display: none;
}

.control-top svg,
.control-bottom svg {
    fill: #ffffff;
}

#add-post {
    display: block;
    position: absolute;
    top: -25px;
    left: 44%;
    width: 50px;
}

#add-post::before {
    content: '';
    background: #ff000000;
    width: 14px;
    height: 13px;
    position: absolute;
    z-index: 1;
    bottom: 16px;
    left: -10px;
    border-radius: 0px 15px 0 0;
    box-shadow: 0px -3px #eeeeee;
}

#add-post::after {
    content: '';
    background: #ff000000;
    width: 14px;
    height: 13px;
    position: absolute;
    z-index: 1;
    right: -12px;
    bottom: 16px;
    border-radius: 15px 0 0 0;
    box-shadow: -2px -4px #eeeeee;
}

#add-post svg {
    fill: #ff9800;
    border: 4px solid #eeeeee;
    border-radius: 50%;
    background: #ffffff;
}

.container {
    position: relative;
    top: 50px;
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: -1;
}

/* end styling main page  */
/* start styling post */
.post {
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    overflow-wrap: break-word;
    position: relative;
    left: 0;
    transition: .3s;
}
.post.move{
    left: -106%;
}
.post.none{
    display: none;
}
.controlTopPost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 10px;
}

.controlTopPost svg {
    width: 20px;
    display: flex;
    flex-direction: column;
    fill: var(--fill);
    position: relative;
    top: -8px;
    left: -6px;
}

.intract-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1rem 0;
    border-top: 1px solid #d7d7d7;
    margin-top: 10px;
    position: relative;
}

.intract-post svg path {
    stroke: #989898;
    fill: transparent;
    pointer-events: none;
}

.intract-post span {
    width: 24px;
}

.intract-post span:nth-child(4) {
    rotate: 180deg;
    position: relative;
    top: -3px;
}

.intract-post span:last-child {
    position: relative;
}

.intract-post span:nth-child(2) {
    position: relative;
    top: 8px;
}

.infoUser>span {
    display: flex;
    flex-direction: column;
}

.body-post img {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 1rem;
}

.infoUser {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}

.control-top {
    box-shadow: none;
    border-radius: 20px 0;
}

.infoUser span:first-child {
    /* display: ; */
}

.infoUser .imguser {
    width: fit-content;
}

.infoUser img {
    width: 45px;
    border-radius: 50%;
    height: 45px;
}

#date {
    font-size: 14px;
    color: #7d7d7d;
    margin-top: 5px;
}

#text {
    font-size: 14px;
    color: #333333;
    display: block;
    padding: 10px;
    max-height: 100px;
    overflow: hidden;
    line-height: 24px;
}

#comment {
    fill: #989898;
}

#show-more,
#show-less {

    font-weight: bold;
    color: var(--yellow-color);
    font-size: 13px;
    display: block;
    margin-top: 9px;
    padding-left: 10px;
}

#name {
    font-size: 16px;
}

.image-post {
    width: 300px;
    height: 300px;
}

#visibility svg {
    fill: #c4c4c4;
    position: absolute;
    left: 146px;
    top: 28px;
    width: 14px;
}

.control-bottom::before {
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 50px;
    left: 0;
    border-radius: 5px 5px 0 0px;
    background: #eeeeee;
}

#notification {
    background: var(--yellow-color);
    width: fit-content;
    padding: 3px 6px;
    border-radius: 50%;
    position: fixed;
    box-shadow: 0px 0px 5px -2px #909090;
    bottom: 7rem;
    right: 1rem;
    display: none;
    z-index: 2;
}

#notification::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #00d142;
    position: absolute;
    bottom: 0;
    left: 3px;
    border-radius: 50%;
}

#notification svg {
    width: 30px;
    height: 31px;
    border-radius: 50%;
    fill: #ffffff;
    rotate: -30deg;
}

#Upcount {
    width: 50px;
    text-align: center;
    position: absolute;
    height: fit-content;
    font-size: 12px;
    left: 3px;
    bottom: -8px;
    color: var(--gray-color);
    font-weight: bold;
    rotate: 0deg;
}

#Downcount {
    min-width: 50px;
    text-align: center;
    position: absolute;
    height: fit-content;
    font-size: 12px;
    right: 3px;
    top: 33px;
    color: var(--gray-color);
    font-weight: bold;
}

#commentcount {
    width: 50px;
    text-align: center;
    position: absolute;
    height: fit-content;
    font-size: 12px;
    left: 43.5%;
    top: 33px;
    color: var(--gray-color);
    font-weight: bold;
}

.comments {
    width: 100%;
    margin-top: 3rem;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comments::before {
    content: '';
    width: 100%;
    height: 0.5px;
    background: #d7d7d7;
    position: absolute;
    left: 0;
    top: -30px;
}

.comments img {
    width: 40px;
    height: 40px;
    border-radius: 10px 0px 10px 10px;
}

.commenter {
    display: grid;
    border-radius: 5px 10px;
    grid-template-columns: 12% 85%;
    gap: 2%;
}

#comment-post {
    position: relative;
    color: #505050;
    font-size: 14px;
    overflow-wrap: break-word;
}

#name-commenter {
    font-size: 14px;
    font-weight: bold;
}

.name_comment {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #e9e9e9;
    border-radius: 1px 10px 10px;
    position: relative;
}
#time-comment{
    width: fit-content;
    position: absolute;
    top: 4px;
    right: 6px;
    font-size: 12px;
    padding: 2px;
    border-radius: 0 4px 4px;
    color: var(--orange-color);
    font-weight: bold;
}
.name-commenter{
    font-size: 14px;
    font-weight: bold;
}
.comments h2{
    color: #bcbcbc;
    font-size: 17px;
}
.write-comment{
    display: grid;
    grid-template-columns: 10% 75% 10%;
    gap: 2.5%;
}
.write-comment svg{
    width: 20px;
    height: fit-content;
}
.write-comment svg path:last-child{
    fill: var(--orange-color);
}
.write-comment textarea{
    background: #efefef;
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    padding: 8px 10px;
    resize: none;
    border-radius: 0px 7px 7px;
    overflow: hidden;
    height: 40px;
}
.write-comment img{
    width: 35px;
    height: 35px;
}
.write-comment span{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nbr-comments{
    color: gray;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    top: -8px;
}
.dots{
    position: fixed;
    width: 90%;
    left: 4.5%;
    height: 53%;
    top: 100%;
    background: var(--gradient-background);
    padding: 1.8rem;
    border-radius: 10% 10% 0 0;
    display: none;
    transition: .3s;
}
.dots svg{
    width: 30px;
    height: 30px;
    transition: .3s;
}
.dots li{
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0.5rem;
}
.dots .content{
    display: grid;
    gap: 1rem;
    height: 100%;
    background: #f6f6f6;
    padding: 10px;
    border-radius: 15px;
    margin-top: 12px;
}
#hide-show{
    width: 80px;
    height: 4px;
    background: #ececec;
    position: absolute;
    border-radius: 5px;
    left: 39%;
    top: 18px;
}
.dots.show{
    display: block;
}
.dots.move{
    top: 47%;
}
.dots .text span{
    font-weight: bold;
    color: #787878;
}
.dots .text p{
    color: gray;
    font-size: 13px;
    margin-top: 5px;
}
.dots svg path{
    fill: #414141;
}
.dots li.chColor svg path{
    fill: var(--orange-color);

}
.dots li.chColor svg {
    transition: .3s;
}
.dots li.chColor.scale svg{
    scale: 1.15;
    rotate: 20deg;
}
.dots li.chColor.scale .text span{
    color: var(--orange-color);
}
.back{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    background: #ff9800;
    width: 80%;
    margin: 10%;
    position: fixed;
    bottom: 0;
    border-radius: 20px 0;
    box-shadow: 0 0 7px -1px #ff9800;
    transition: .2s;
    scale: 0;
}
.back.scale{
    scale: 1;
}
.back button{
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    color: var(--orange-color);
    font-weight: bold;
}
.back p{
    color: white;
    font-weight: bold;
}
.intract-post svg.color path {
    stroke: #ff9800;
    fill: #ff9800;
    
}
.intract-post #comment svg.color path {
    stroke: #ff9800;
    fill: #ff9800;
    
}
.intract-post svg.color{
    position: relative;
    animation: up .3s forwards;
    transition: .6s;
}
/* svg{
    pointer-events: none;
} */
/* animation */
@keyframes up{
    0%{
        top: 5px;
    }
    100%{
        top: 0px;
    }
}
/* end styling post */